/* coded by Anupam M */
/* www.anupammondal.in */
#header-bg {
  background-image: url(./image/cool-background.png);
  background-position: bottom;
  background-size: cover;
}
/* www.anupammondal.in */
/* coded by Anupam M */